{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block log %}
<div class='container d-flex justify-content-center'>
	<form method='post'>
	    {% csrf_token %}
	 
	    <div class='mb-3'>Firstname: {{form.firstname}}</div>
	    <div class='mb-3'>Lastname: {{form.lastname}}</div>
	    <div class='mb-3'>Email: {{form.email}}</div>
	    <div class='mb-3'>Password: {{form.password}}</div>
	    <div class='mb-4'>Role: {{form.role}}</div>

    	<button type="submit" class="btn btn-success">Login</button>

	</form>
</div>
{% endblock %}