<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}Student information{% endblock %}</title>
</head>


<header>
    <div class='container mb-4'>
        <div class='d-flex justify-content-center mb-2 border-bottom border-dark'><h1>AUTO-ECOLE</h1></div>
    </div>
</header>
	<div class='container'>
		<a href='/app/planning'><button class="btn btn-warning">Planning</button></a>
	</div>
<div class='container d-flex justify-content-center border-bottom border-dark mb-5'>
	<form method='post'>
	    {% csrf_token %}
	 
	    <div class='mb-3'>Firstname: {{form.firstname}}</div>
	    <div class='mb-3'>Lastname: {{form.lastname}}</div>
	    <div class='mb-3'>Email: {{form.email}}</div>
	    <div class='mb-3'>Password: {{form.password}}</div>
	    <div class='mb-4'>Role: {{form.role}}</div>

    	<button type="submit" class="btn btn-success">Send</button>

	</form>
</div>


<div class='container'>
	{% for name in user%}
		<div class='d-flex'>
			<h5>{{name.firstname}} {{name.lastname}}</h5>
			<div class='ml-auto p-2 bd-highlight'>
				<a href=''><button class="btn btn-success">Profile</button></a>
				<a href=''><button class="btn btn-danger">Supprimer</button></a>
			</div>
		</div>
	{% endfor %}
</div>
