{% extends "base.html" %}

{% block title %}My amazing planning{% endblock %}

{% block extra_head %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css'/>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"></script>
    <script src="/static/js/calendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{% endblock %}


{% block content %}

<div class='container'>

	{% if user.role.id > 1 %}
		<form method='post'>
			{% csrf_token %}

			<div class='container card p-2 mb-5 '>
                <h4 class='d-flex justify-content-center mb-4 mt-3'>Ajouter une date de course</h4>
				<div class='d-flex justify-content-center'>        
					<div class='mb-3 ml-1'><p>Tittle:</p> {{form.title}}</div>
					<div class='mb-3 ml-1'><p>Date de début:</p> {{form.start}}</div>
                    <small class="text-danger" >{{ form.start.errors|striptags }}</small>
					<div class='mb-3 ml-1'><p>Date de fin:</p> {{form.end}}</div>
                    <small class="text-danger" >{{ form.end.errors|striptags }}</small>
				</div>
				<div class='d-flex justify-content-center'>
					<div class='mb-3 ml-1'><p>Instructor:</p> {{form.instructor}}</div>
					<div class='mb-4 ml-1'><p>Student:</p> {{form.student}}</div>
				</div>

				<div class="text-center"><button type="submit" class="btn btn-success mb-3">Send</button></div>
			</div>
		</form>
	{% endif %}

    <div class='container card p-2 mt-5 mb-5'>
        <div id="calendar"></div>
    </div>

</div>

<script type='text/javascript'>
  calendar('{{events|safe}}')
</script>

{% endblock %}