{% extends "base.html" %}

{% block title %}My amazing planning{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css"/>
    <link rel='stylesheet' type='text/css' href='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css'/>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"></script>
    <script src="/static/js/calendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{% endblock %}


{% block content %}

<div class='container'>
    <form method='post'>
        {% csrf_token %}

        <div class='container mb-5 border-bottom border-dark'>
            <div class='d-flex justify-content-center'>        
                <div class='mb-3'><p>Tittle:</p> {{form.title}}</div>
                <div class='mb-3'><p>Date de début:</p> {{form.date_start}}</div>
                <div class='mb-3'><p>Date de fin:</p> {{form.date_end}}</div>
            </div>
            <div class='d-flex justify-content-center'>
                <div class='mb-3'><p>Instructor:</p> {{form.instructor}}</div>
                <div class='mb-4'><p>Student:</p> {{form.student}}</div>
            </div>

            <div><button href='/logout' type="submit" class="btn btn-success mb-3">Send</button></div>
        </div>
    </form>

    <div class='container mt-5 mb-5'>
        <div id="calendar"></div>
    </div>

    <div class='d-flex justify-content-center'><a href='/logout'><button class="btn btn-danger mb-3">Logout</button></a></div>

</div>

<script type='text/javascript'>
  document.addEventListener('DOMContentLoaded', function() {
        const events = parseObject(JSON.parse('{{events|safe}}'));
        console.log(events)
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
        	plugins: [ 'dayGrid','interaction', 'timeGrid', 'list' ],
        	locale: 'fr',
        	header: {
        	  left: 'prev, next today',
        	  center: 'title',
        	  right: 'dayGridMonth, timeGridWeek, list'
        	},
        	defaultView: 'timeGridWeek',
        	events: events,
        	nowIndicator: true,
        	editable: true,
        	eventDrop: (date) => {
        		if(!confirm("Etes vous sur de vouloir déplacer cette evenement")){
        		  date.revert()
        		} else {
					const start = moment(new Date(date.event.start)).format()
					const end = moment(new Date(date.event.end)).format()
					const eventData = {
					"id": date.event.extendedProps.idPlanning,
					"start": start,
					"end": end,
					"title": date.event.title,
					"instructor": date.event.extendedProps.instructor,
					"student": date.event.extendedProps.student
					}
					updatePlanning(eventData)
           		}

          	},
			eventResize: (date) => {
				if(!confirm("Etes vous sur de vouloir déplacer cette evenement")){
				date.revert()
				} else {

            	}
          	}
        });
        calendar.render();
      });
</script>

{% endblock %}