<header>
    <div class='container mb-4'>
        <div class='d-flex justify-content-center mb-2 border-bottom border-dark'><h1>AUTO-ECOLE</h1></div>
    </div>
</header>

{% if user.id == userID or user.role.id == 3 %}
    {% block extra_head %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css"/>
        <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css"/>
        <link rel='stylesheet' type='text/css' href="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css"/>
        <link rel='stylesheet' type='text/css' href='https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css'/>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"></script>
        <script src="/static/js/calendar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    {% endblock %}

    <div class='container'>
        {% if user.role.id == 3 %}
            <a href='/app/manageAccount'><button class="btn btn-warning">All Students</button></a>
        {% endif %}
    </div>
    
    <div class="container d-flex justify-content-center border-bottom border-dark mb-5">
    	<form method='post' action="/app/profile/{{userID}}">
	        {% csrf_token %}
            <div class='mb-3'>Firstname: {{formProfile.firstname}}</div>
            <div class='mb-3'>Lastname: {{formProfile.lastname}}</div>
            <div class='mb-3'>Email: {{formProfile.email}}</div>
            <div class='mb-4'>Role: {{formProfile.role}}</div>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>

    {% if user.id != 1 %}
    <div class='container d-flex justify-content-center border-bottom border-dark mb-5'> 
        <form method="post" action="/app/planning/">
            {% csrf_token %}
            <div class='mb-3'>Tittle: {{formEvent.title}}</div>
            <div class='mb-3'>Date de début: {{formEvent.start}}</div>
            <div class='mb-3'>Date de fin: {{formEvent.end}}</div>
            <div class='mb-3'>Instructor: {{formEvent.instructor}}</div>
            <div class='mb-4'>Student: {{formEvent.student}}</div>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
    {% endif %}

    <div class='container mt-5 mb-5'>
        <div id="calendar"></div>
    </div>

    <script type='text/javascript'>
        calendar('{{events|safe}}')
    </script>

{% else %}
    <div class="">{{profile}}</div>
{% endif %}